<h1>Edit Product</h1>
<form action="<%= update_product_path(@product['id']) %>" method="post" id="edit-product-form">
  <%= hidden_field_tag '_method', 'patch' %>
  <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
  
  <div>
    <label for="product_name">Name</label>
    <input type="text" id="product_name" name="product[name]" value="<%= @product['name'] %>">
  </div>

  <div>
    <label for="product_price">Price</label>
    <input type="number" id="product_price" name="product[price]" value="<%= @product['price'] %>">
  </div>

  <div>
    <input type="submit" value="Update">
  </div>
</form>
<%= link_to 'Back', products_path, class: 'btn btn-primary' %>
